<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <title>BIZTROX</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%- include('links'); %>
</head>
<body>
    <%- include('header'); %>

        <!-- skill -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5 class="section-title-sm">SAI RAM</h5>
                        <h2 class="section-title section-title-border-half">Forgot your password?</h2>
                    </div>
                    <div class="col-lg-7">
                        <div class="mb-40">
                            <p class="text-dark">
                                Please choose your new password:
                            </p>

                            <div class="col-md-10">
                                <p class="text" id="error" style="color: red;font-weight:bold;border:none;text-align:center;">
                                   
                                </p>
                            </div>

                            <% if (errorMessage) { %>
                            
                                <div class="col-md-10">
                                    <p class="text" style="color: red;font-weight:bold;border:none;text-align:center;">
                                        <%= errorMessage %>
                                    </p>
                                </div>
                            <%}%>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="signup-form">
                            <form action="/api/change/password" class="row" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="col-12">
                                    <h4>Reset password</h4>
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="col-12">
                                    <input type="password" class="form-control" id="txtPassword" name="pass" placeholder="New Password">
                                </div>
                                <div class="col-12">
                                    <input type="password" class="form-control" id="txtConfirmPassword"  placeholder="Confirm Password">
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary btn-sm" id="btnSubmit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /skill -->
        

        <%- include('footer'); %>
        <%- include('scripts'); %>

        <script type="text/javascript">
            $(function () {
                $("#btnSubmit").click(function () {
                    var password = $("#txtPassword").val();
                    var confirmPassword = $("#txtConfirmPassword").val();
                    if (password != confirmPassword) {
                        $("#error").html("Password does not match");
                        return false;
                    }
                    return true;
                });
            });
        </script>

</body>

</html>