<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>SAIKOTI || Registration details</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- include('links'); %>

  <style>
    .gender input {
        display: flex;
        margin: 20px;
    }
  </style>

  <%- include('links'); %>

</head>

<body>
    <%- include('header'); %>

    <section class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="signup">
                        <div class="row">
                            <div class="col-md-5 signup-greeting overlay" style="background-image: url(images/1.jpg);">
                                <img src="images/logo-signup.png" alt="logo">
                                <h4>Welcome!</h4>
                                <p>Saikoti.com presents an unique opportunity to write "SaiKoti" online. Saikoti is nothing but writing the name
                                    'Sairam' for One Crore times over a period of time on day to day basis.It's a free opportunity to worship Lord Sai.</p>
                            </div>
                            <div class="col-md-7">
                                <div class="signup-form">
                                    <form action="/api/register/user" class="row" method="post" enctype="application/x-www-form-urlencoded" name="myRegistartionForm" onsubmit="return validateRegistrationForm()">
                                        <div class="col-12">
                                            <h4>Sign Up</h4>
                                        </div>

                                        <% if (errorMessage) { %>
                                            <div class="col-12">
                                                <p class="form-control" style = "color: red;font-weight:bold;border:none;">
                                                    <%= errorMessage %>
                                                </p>
                                            </div>
                                        <%}%>

                                        <div class="col-12">
                                            <p style = "color: red;font-weight:bold;border:none;" id="errors">
                                               
                                            </p>
                                        </div>

                                        <div class="col-6">
                                            <input type="text" class="form-control" id="name" name="userName" placeholder="Name">
                                        </div>
                                        <div class="col-6" class="float-sm-right">
                                            <input type="email" class="form-control" id="emailInfo" name="emailInfo" placeholder="Email Address">
                                        </div>

                                        <div class="col-6">
                                            <input type="text" class="form-control" id="phone" name="phone" placeholder="phone" maxlength="10">
                                        </div>
                                        <div class="col-6" class="float-sm-right">
                                            <input type="date" class="form-control" id="dob" name="dob" placeholder="Date of birth" onchange="validateDOB()">
                                        </div>

                                        <div class="col-6">
                                            <select class="form-control" aria-label="Default select example" id="country" name="country" onchange="populateStates()">
                                                <option selected>Select the country</option>
                                            </select>
                                        </div>
                                        
                                        <div class="col-6" class="float-sm-right">
                                            <select class="form-control" aria-label="Default select example" id="state" name="state">
                                                <option selected>Select the state</option>
                                            </select>
                                        </div>

                                        <div class="col-6">
                                            <input type="password" class="form-control" id="pass" name="pass" placeholder="password">
                                        </div>
                                        <div class="col-6" class="float-sm-right">
                                            <label style="margin:7px;">Gender</label>
                                            <input class="gender" type="radio" class="form-control" id="gender" name="gender"  value="male" >
                                            <label style="margin:7px;">Male</label>
                                            <input class="gender" type="radio" class="form-control" id="gender" name="gender"  value="female">
                                            <label style="margin:7px;">Female</label>

                                        </div>
                                       
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary btn-sm">Sign Up</button>
                                        </div>
                                        <div class="col-sm-8 text-sm-right">
                                            <p class="signup-with">Already Have Account?
                                                <a href="/login">Sign In</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer'); %>
    <%- include('scripts'); %>

    <script>
        const phoneInput = document.getElementById('phone');
        
        phoneInput.addEventListener('input', function() {
            // Remove any non-digit characters
            let phoneNumber = phoneInput.value.replace(/\D/g, '');
            
            // Limit to 10 digits
            phoneNumber = phoneNumber.slice(0, 10);
            
            // Update the input value
            phoneInput.value = phoneNumber;
        });
    </script>

    <script>

        function validateRegistrationForm() 
        {
            let name = document.forms["myRegistartionForm"]["userName"].value;
            let password = document.forms["myRegistartionForm"]["pass"].value;
            let email = document.forms["myRegistartionForm"]["emailInfo"].value;
            let phone = document.forms["myRegistartionForm"]["phone"].value;
            let country = document.forms["myRegistartionForm"]["country"].value;
            let state = document.forms["myRegistartionForm"]["state"].value;
            let dob = document.forms["myRegistartionForm"]["dob"].value;
            let gender = document.forms["myRegistartionForm"]["gender"].value;

            let phoneValidation = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
            let emailValidation = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if (!name) 
            {
              document.getElementById('errors').innerHTML="userName is required.";
              return false;
            }
            else  if (name.toString().length < 2 ) 
            {
              document.getElementById('errors').innerHTML="User name minimum character limit is 2";
              return false;
            }
            else  if (name.toString().length > 30) 
            {
              document.getElementById('errors').innerHTML="userName maximum character limit is 30.";
              return false;
            }

            if (!email)
            {
                document.getElementById('errors').innerHTML="Email is required.";
                return false;
            }
            else if (email && !(email.match(emailValidation)))
            {
                document.getElementById('errors').innerHTML="Invalid email address";
                return false;
            }
            else if (email && email.toString().length > 50)
            {
                document.getElementById('errors').innerHTML="Email maximum character limit is 50.";
                return false;
            }

            if (!password)
            {
                document.getElementById('errors').innerHTML="Password is required.";
                return false;
            }
            else if (password && password.toString().length > 15)
            {
                document.getElementById('errors').innerHTML="Password maximum character limit is 15.";
                return false;
            }
            
            if (!dob)
            {
                document.getElementById('errors').innerHTML="Date of birth is required.";
                return false;
            }

            if (!country)
            {
                document.getElementById('errors').innerHTML="Country is required.";
                return false;
            }

            if (!state)
            {
                document.getElementById('errors').innerHTML="State is required.";
                return false;
            }

            if (!gender)
            {
                document.getElementById('errors').innerHTML="Gender is required.";
                return false;
            }

            if (!phone)
            {
                document.getElementById('errors').innerHTML="Phone is required.";
                return false;
            }
            else if (phone && !(phone.match(phoneValidation)))
            {
                document.getElementById('errors').innerHTML="Invalid phone address";
                return false;
            }

            return true;
          }
          
    </script>

    <script>
        function validateDOB() {
          var dobInput = document.getElementById("dob");
          var errorMessage = document.getElementById("errors");
        
          // Get the selected date from the input
          var selectedDate = new Date(dobInput.value);
        
          // Calculate the age
          var currentDate = new Date();
          var age = currentDate.getFullYear() - selectedDate.getFullYear();
          // Check if the age is less than 13
          if (age < 13) 
          {
            errorMessage.textContent = "Age must be at least 13 years old.";
          } 
          else {
            errorMessage.textContent = "";
          }
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var countryDropdown = document.getElementById("country");
            var stateDropdown = document.getElementById("state");
            var errorMessage = document.getElementById("errors"); // Assuming you have an element to display the error message
            var selectedCountryId;
            var countries = [];
            // Fetch countries when the page loads
            fetch("/api/countries")
                .then(response => response.json())
                .then(data => 
                {        
                    if(data && data.status == 0)
                    {
                        errorMessage.textContent = data.message
                    }
                    else
                    {
                        countries = data; 
                        countries.forEach(country => {
                            var option = document.createElement("option");
                            option.value = country.countryName;
                            option.text = country.countryName;
                            countryDropdown.appendChild(option);
                        });
                    }
                })
                .catch(error => errorMessage.textContent = error.message);
        
            // Fetch states when a country is selected
            countryDropdown.addEventListener("change", function() {
                var countryCode = this.value;
                var selectedCountry = countries.find(country => country.countryName === countryCode);
                if (selectedCountry) 
                {
                    selectedCountryId = selectedCountry.id;
                    // Clear the state dropdown before fetching and populating new states
                    stateDropdown.innerHTML = "<option value=''>Select a state</option>"; // Clear existing options
                    
                    fetch("/api/states", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ countryId: selectedCountryId })
                    })
                    .then(response => response.json())
                    .then(states => {
                        if(states && states.status == 0)
                        {
                            errorMessage.textContent = states.message;
                        }
                        else
                        {
                            states.forEach(state => {
                                var option = document.createElement("option");
                                option.value = state.stateName;
                                option.text = state.stateName;
                                stateDropdown.appendChild(option);
                            });
                        }
                    })
                    .catch(error =>  errorMessage.textContent = error.message);
                }
            });
        });
        
      
      </script>

</body>

</html>